@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* @import '~antd/dist/antd.css'; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vh !important; 
    width: 100vw !important;
   }

::-webkit-scrollbar{
    width: 10px;
}


::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: rgba(55, 100, 155);
    border-radius: 10px;
}

body{
    overflow-x: hidden;
    background: gray;
}

.header{
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    // background-image: linear-gradient(#1fe7f1,#228cca);
    background-image: linear-gradient(#ef0505,#801d27);
    display: flex;
    align-items: center;
}

.container{
    padding: 0 1.5rem;
    width: 100%;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    font-size: 25px;
    font-family: sans-serif;
    // padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.nav a:hover{
text-decoration: underline;
color: white;
}

.nav .img{
    width: 70px;
}

.navList{
    list-style: none;
    display: flex;
}

.navList li{
    margin: 0 0 0 32px;
}

// .navList li button{
//     font-size: 25px;
//     font-family: sans-serif;
//     padding: 10px;
//     background-color: transparent;
//     border: none;
//     color: white;
//     cursor: pointer;

// }

// .navList li button:hover{
//     text-decoration: underline;
// }

.logo{
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    // font-family: 'Bebas Neue', cursive;
    font-family: "Bebas Neue",Arial,Helvetica,sans-serif;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    background-color: #fff;
    width: 32px;
    height: 2px;
    margin: 8px;
}

@media (max-width: 999px) {
.navList{
    position: absolute;
    top: 12vh;
    right: 0;
    width: 50vw;
    height: 88vh;
    background-image: linear-gradient(#ef0505,#801d27);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
}

.navList li{
    opacity: 0;
}

.mobile-menu{
    display: block;
}
}

.navList.active {
    transform: translateX(0);
}