.box {
  display: grid;
  place-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  height: 200px !important;
}

img {
  border-radius: 0;
}

.cropper-crop-box {
  width: 300px !important;
  height: 100% !important;
}