.box {
  display: grid;
  place-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  height: 200px !important;
}

// .img-preview > img{
//   width: 200px !important;
//   height: 200px !important;
//   transform: translateX(0) translateY(0) !important;
// }

img {
  border-radius: 0;
}

.cropper-crop-box {
  width: 300px !important;
  height: 100% !important;
}

// .cropper-container{
//   width: 100% !important;
// }
// .cropper-crop-box{ImageUpload.scss
//   max-width: 100% !important;
// }