.box {
    display: grid;
    place-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .img-preview {
    overflow: hidden;
  }
  img{
    border-radius: 0 !important;
  }
  // .cropper-container{
  //   width: 100% !important;
  // }
  // .cropper-crop-box{
  //   max-width: 100% !important;
  // }