.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: hidden;
   

//     background: rgb(254,254,254);
// background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(118,123,126,1) 89%, rgba(29,32,37,1) 100%);


    // background-color: rgb(168, 167, 167);
//     background: rgb(1,164,154);
// background: linear-gradient(42deg, rgba(1,164,154,1) 0%, rgba(0,0,0,1) 50%, rgba(203,0,0,1) 100%);
    // box-shadow: 5px 5px 0px rgb(0, 0, 0);
}.bgf{
    width: 100vw;
    opacity: 1;
    image-rendering: optimizeSpeed;
}

h1{
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.Formulario{
    width: 100%;
    max-width: 400px;
    background-color: #dddddd;
    padding: 5px 10px 10px;
    border-radius: 10px;
    position: absolute;
}

#field{
    padding-bottom: 0.5rem;
    
}

label{
    display: block;
    font-size: 16px;
    font-family: verdana;
}

.input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 4px 4px 7px rgb(165, 164, 164);
}

#actions{
    text-align: center;
    margin-top: 0.5rem;
}

.enviar{
    margin: 10px auto;
    padding: 7px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}.enviar:hover{
    animation-duration: 1.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}//------------------------aviso orientador-------
@media (max-width: 600px) {
    .bgf{
        height: 100vh;
        filter: blur(2px);
        image-rendering: optimizeSpeed;
        object-fit: cover;
    }
}
