

.ant-row .ant-form-item-row {
    bottom: 10px;
    
}.goog{
    margin: 10px;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ant-row,
.ant-row:after,
.ant-row:before {
    align-items: center;
    justify-content: center;
}

.ant-space {
    display: flex;
}

.ant-space-item {
    width: 100% !important;
    height: 30px !important
}

.ant-input-affix-wrapper.ant-input-password {
    height: 100% !important;
    margin-bottom: 10px !important;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input.active {
    display: block !important;
}

input.false {
    display: none !important;
}

.formLogin {
    width: 35vw;
    min-width: 260px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(176, 176, 176);
    padding: 10px;
    border-radius: 10px;
}

.label{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0!important;
    text-align: start !important;
}

.ant-layout-content {
    width: 100vw;
    max-width: 100vw;
    height: 88vh;
    max-height: 88vh;
}

.ant-select-selection-search-input {
    width: 30% !important;
}

.ant-form-item-control {
    width: 50vw !important;
    flex: 0 !important;
    color: #fff;
}

.ant-col-16 {
    flex-grow: 1 !important;
}

.ant-col-8 {
    flex: 0 0 10% !important;
}

.ant-form-item-control-input {
    width: 100% !important;
}

.ant-input {
    width: 100% !important;
    border-radius: 10px !important;
    font-size: inherit !important;
}

.login-form-forgot{
    color:rgb(255, 255, 255);
    margin: auto !important;
}

.ant-form-item-control-input-content {
    width: 100% !important;
    margin-right: 50% !important;
    display: flex !important;
    margin-top: 10px;
}

.titulo2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    padding: 25px;
    margin: 0;
    text-align: center;
}

.ant-btn-default {
    border-radius: 7px;
    margin-right: 5px;
    margin-left: 5px;
}
.ant-btn-primary {
    border-radius: 7px;
}

.ant-select-selector {
    border-radius: 10px !important;
}

.ant-form-item-label>label {
    color: #fff;
    height: 0;
}