main{
    top: 12vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 88vh;
    text-align: center;
    position: relative;
}.esc{
    color: white;
    text-align: center;
    font-size: 22px;
}

h1.title{
    color: white;
    text-align: center;
}

h1.title::selection{
    color: black;
    background-color: white;
}

.form{
    width: 70vw;
    height: 88vh;
    position: relative;
    left: 0;
    background-color: rgb(60, 141, 179);
}

#codigo{
    margin-top: 20px;
    outline: none;
    width: 400px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

.direita{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 88vh;
    // background-color: teal;
    background-image: linear-gradient(#00b193,#009675);
    overflow-y: scroll;
}


/* .salvar{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
} */

.borda{
    border: 2px solid white;
    position: relative;
    height: 30px;
}

.p{
    color: white;
    font-size: 16px;
}

