// main {
//     top: 12vh;
//     overflow-x: hidden;
//     overflow-y: hidden;
//     width: 100vw;
//     height: 88vh;
//     text-align: center;
//     position: relative;
// }

.esc {
    margin: 5px;
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 22px;
}

h1.title {
    color: gray;
    text-align: center;
    margin: 0;
}

h1.title::selection {
    color: black;
    background-color: white;
}

.form {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    // background-color: rgb(60, 141, 179);
    background-color: #fff;
    // overflow-y: scroll;
    overflow-x: hidden;
}

#codigo {
    margin-top: 20px;
    outline: none;
    width: 60%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(100, 100, 100);
}

#quantidade {
    margin-top: 20px;
    outline: none;
    width: 400px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(100, 100, 100);
}

.cards {
    margin-top: 100px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.card {
    width: 100%;
    height: 170px;
    display: flex;
    background-color: gray;
    padding: 4px;
    border-radius: 20px;
    margin: 2px;
}

.img {
    position: relative;
    left: 0;
    width: 20%;
}

img {
    position: relative;
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.ant-layout-content{
    text-align: center;
    overflow-y: auto;
}

.ant-layout-has-sider{
    overflow-y: hidden;
    width: 100vw !important;
    height: 88vh !important;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    margin-left: 5px;
}

h1 {
    margin: 0px;
    

}.descricao{
    color: #fff;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direita {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 30vw;
    height: 60vh;
    // background-color: teal;
    // background-image: linear-gradient(#00b193,#009675);
    background-color: rgb(51, 51, 51);
    overflow-y: auto;
    border-radius: 10px;
}

hr {
    margin-left: 10px;
}

.baixo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:transparent;
    height: auto;
}

.esquerda {
    display: flex;
    width: 90%;
    margin: 5px auto;
    background-color:rgb(107, 190, 127);
    border-radius: 10px;
    align-items: center;
}.titulo{
    color: #fff;
}

.esquerda2 {
    display: flex;
    width: 90%;
    margin: 5px auto;
    background-color: rgb(107, 190, 127);
    border-radius: 10px;
    text-align: center;
}.preco{
    color: #fff;
}

.comprar {
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    font-size: 18px;
    margin: auto auto;
}.comprar:hover{
    color: #fff;
}

.ant-btn-secundary{
    width: 100%;
    height: 8%;
    border-radius: 30px ;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgb(107, 190, 127)!important;
    font-size: 22px;
    padding: 5px;
    border: none;
    box-shadow: none;
}
.ant-btn-secundary:hover{
    color: #fff;
    background: rgb(107, 190, 127);
}

.ant-layout-sider{
    width:400px !important;
    max-width: 400px !important;
    min-width: 40vw !important;
    height: 88vh !important;
    max-height: 88vh !important;
}

.borda {
    border: 2px solid white;
    position: relative;
    height: 30px;
}

.p {
    color: white;
    font-size: 16px;
}

//--------------------------------------------------
@media (max-width: 600px) {
    .form {
        position: relative;
    }

    #codigo{
        width: 80%;
    }

    .ant-layout-content{
        width: 60vw !important;
        height: 88vh !important;
        text-align: center;
    }

    .ant-layout-sider{
    width: 40vw !important;
    }

    .direita {
        //baixo
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 40vh;
    }

    .p {
        font-size: 20px;

    }

    #codigo {
        padding: 10px;
    }

    .img{
        width: 40%;
    }
}