main{
    top: 12vh;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 88vh;
    text-align: center;
    position: relative;
}.esc{
    color: black;
    text-align: center;
    font-size: 22px;
}

h1.title{
    color: gray;
    text-align: center;
    margin: 0;
}

h1.title::selection{
    color: black;
    background-color: white;
}

.form{
    width: 70vw;
    height: 88vh;
    position: relative;
    left: 0;
    // background-color: rgb(60, 141, 179);
    background-color: #fff;
    overflow-y: auto;
}

#codigo{
    margin-top: 20px;
    outline: none;
    width: 400px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(100, 100, 100);
}

#quantidade{
    margin-top: 20px;
    outline: none;
    width: 400px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgb(100, 100, 100);
}

.cards{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card{
    width: 100%;
    height: 170px;
    display: flex;
    background-color: gray;
    padding: 4px;
    border-radius: 25px;
    margin: 10px;
}

.img{
    position: relative;
    left: 0;
    width: 30%;
}

img{
    position: relative;
    border-radius: 30px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
}

h1{
    margin: 0;
}

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.direita{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 60vh;
    // background-color: teal;
    // background-image: linear-gradient(#00b193,#009675);
    background-color: gray;
    overflow-y: scroll;
}


/* .salvar{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
} */

.borda{
    border: 2px solid white;
    position: relative;
    height: 30px;
}

.p{
    color: white;
    font-size: 16px;
}
//--------------------------------------------------
@media (max-width: 600px) {
    .form{//cima
        width: 100vw;
        position: relative;
        height: 48vh;

    }.direita{//baixo
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 40vh;
    }.p{
        font-size: 20px;
        
    }#codigo{
        padding: 10px;
    }
}
